<div class="big-container">
  <div class="container">

  <form *ngIf="updateForm" [formGroup]="updateForm" (submit)="onSubmit()">


    <app-contact-form *ngIf="showContactForm" [contact]="orderDataService.contactInformation"></app-contact-form>
    <app-address-form [shippingAddress]="orderDataService.shippingAddress" [billingAddress]="orderDataService.billingAddress"></app-address-form>
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="primary" class="large float-right">Weiter</button>
      </div>
    </div>
  </form>
  </div>
</div>
