<div class="big-container">
  <div class="container">

  <form *ngIf="updateForm" [formGroup]="updateForm" (submit)="onSubmit()">


    <app-contact-form *ngIf="showContactForm" [contact]="orderDataService.contactInformation"></app-contact-form>
    <app-address-form label="Lieferadresse" parentFormName="shippingAddress"></app-address-form>
    <div class="row">
      <div class="col-12">
        <mat-checkbox color="primary" formControlName="useDualAddress">Lieferadresse als Rechnungsadresse übernehmen</mat-checkbox>
      </div>
    </div>
    <app-address-form *ngIf="!updateForm.controls.useDualAddress.value" label="Rechnungsadresse" parentFormName="billingAddress"></app-address-form>
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="primary" class="large float-right">Weiter</button>
      </div>
    </div>
  </form>
  </div>
</div>
