<div class="big-container">
  <div class="fancy-header">
    <h1 appScrollIn="slideTop">Warenkorb</h1>
  </div>
  <div class="empty-container" appScrollIn="grow" *ngIf="cartService.shoppingCart.products.length === 0">
    <h4>Dein Warenkorb ist zurzeit leer.</h4>
    <p>Mach dich mit unserem neuesten Produkt, dem <a routerLink="/">SmartTub</a>, bekannt.</p>
    <p>Oder schau dir <a routerLink="/products">unsere Produkte</a> an und füge welche zum Warenkorb hinzu.</p>
  </div>
  <div class="content" *ngIf="cartService.shoppingCart.products.length > 0">
    <div appScrollIn="grow" class="content-container content-1">
      <div *ngFor="let product of cartService.shoppingCart.products" class="product-container">
        <img [src]="product.product.images[0]" class="product-image content-1">
        <h3 class="content-2">{{ product.product.cartTitle }}</h3>
        <p class="content-3">{{product.product.price | currency:'EUR'}}</p>
        <button mat-button (click)="cartService.removeProduct(product.product)">Vom Warenkorb entfernen</button>
        <select class="content-5" [(ngModel)]="product.amount" (ngModelChange)="cartService.saveInStorage()">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div appScrollIn="grow" class="checkout-container content-2">
      <div class="d-flex mb-4">
        <h5>Rechnung</h5>
      </div>
      <div class="line mb-3"></div>
      <div class="d-flex flex-row mb-3">
        <span>Zwischensumme:</span>
        <div class="flex-grow-1"></div>
        <span>{{ cartService.calculateProductSum() | currency:'EUR' }}</span>
      </div>
      <div class="d-flex flex-row mb-3">
        <span>Versandkosten:</span>
        <div class="flex-grow-1"></div>
        <span>{{ cartService.getShippingFee() | currency:'EUR' }}</span>
      </div>
      <div class="d-flex flex-row mb-3">
        <span>Mehrwertsteuer (inkl.):</span>
        <div class="flex-grow-1"></div>
        <span>{{ cartService.calculateTaxes() | currency:'EUR' }}</span>
      </div>
      <div class="line mb-4"></div>
      <div class="d-flex flex-row mb-3">
        <span class="total-sum">Gesamtsumme:</span>
        <div class="flex-grow-1"></div>
        <span class="total-sum">{{ cartService.calculateTotalSum() | currency:'EUR' }}</span>
      </div>
      <div class="d-flex flex-column">
        <button class="custom-button" routerLink="/login" [queryParams]="{proceedToOrder: true}">Zur Kasse gehen
        </button>
      </div>
    </div>
  </div>
</div>
