<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="app-content-title">Warenkorb</h1>
    </div>
  </div>
  <div class="row">
    <div class="entries">
      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="cart-entry-container">
        <img src="assets/BathTubScreen.png">
        <h4>Test Product</h4>
        <div class="flex-grow-1"></div>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Anzahl</mat-label>
          <mat-select value="1">
            <mat-option value="1">1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="product-price">4,99€</p>
        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>
    <div class="side-box" #sideBox>
      <div #checkoutContainer class="checkout-container mat-elevation-z4" [ngStyle]="{ position: isAdded ? 'fixed' : 'inherit', top: boxY + 'px', left: boxX + 'px', width: isAdded ? boxWidth + 'px' : 'initial'}">
        allo
      </div>
    </div>
  </div>
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-1"></div>-->
  <!--    <div class="col-10">-->
  <!--      <div class="cart-entry-container">-->
  <!--        <img src="assets/BathTubScreen.png">-->
  <!--        <h4>Test Product</h4>-->
  <!--        <div class="flex-grow-1"></div>-->
  <!--        <mat-form-field appearance="outline" color="accent">-->
  <!--          <mat-label>Anzahl</mat-label>-->
  <!--          <mat-select value="1">-->
  <!--            <mat-option value="1">1</mat-option>-->
  <!--            <mat-option>2</mat-option>-->
  <!--            <mat-option>3</mat-option>-->
  <!--            <mat-option>4</mat-option>-->
  <!--            <mat-option>5</mat-option>-->
  <!--          </mat-select>-->
  <!--        </mat-form-field>-->
  <!--        <p class="product-price">4,99€</p>-->
  <!--        <button mat-icon-button matTooltip="Vom Warenkorb entfernen">-->
  <!--          <mat-icon>close</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-2"></div>-->
  <!--    <div class="col-8 d-flex">-->
  <!--      <div class="flex-grow-1"></div>-->
  <!--      <p>Gesamtsumme: 4,99€</p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mb-5">-->
  <!--    <div class="col-2"></div>-->
  <!--    <div class="col-8 d-flex">-->
  <!--      <div class="flex-grow-1"></div>-->
  <!--      <button mat-stroked-button>Zur Kasse gehen</button>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
