<div class="container small-container">
  <div class="row">
    <div class="col-12">
      <h1 class="app-content-title">Passwort ändern</h1>
    </div>
  </div>

  <form [formGroup]="passwordForm" (submit)="updatePassword()">

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Aktuelles Passwort</mat-label>
          <input matInput formControlName="currentPassword" type="password">
          <mat-error *ngIf="passwordForm.hasError('wrong', ['currentPassword'])">Das eingegebene Passwort ist falsch
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field color="accent">
          <mat-label>Neues Passwort</mat-label>
          <input appPasswordToggle #newToggle="appPasswordToggle" matInput formControlName="newPassword"
                 type="password">
          <mat-icon matSuffix class="icon-toggle" (click)="newToggle.toggle()">{{newToggle.getIcon()}}</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Neues Passwort bestätigen</mat-label>
          <input appPasswordToggle #confirmToggle="appPasswordToggle" matInput formControlName="confirmNewPassword"
                 type="password">
          <mat-icon matSuffix class="icon-toggle"
                    (click)="confirmToggle.toggle()">{{confirmToggle.getIcon()}}</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="accent" class="float-right">Passwort ändern</button>
      </div>
    </div>

  </form>

</div>

