
@import "src/theme";



.wave-bottom {
  background-image: url("~/assets/wave.svg");
  background-size: cover;
}

.wave-bottom-2 {
  background-image: url("~/assets/wave.svg");
  background-size: cover;
  background-position-x: center;
}

.wave-bottom-3 {
  background-image: url("~/assets/wave.svg");
  background-size: cover;
  background-position-x: right;
}

.wave-top {
  background-image: url("~/assets/wave (1).svg");
  background-size: cover;
}

.wave-top-2 {
  background-image: url("~/assets/wave (1).svg");
  background-size: cover;
  background-position-x: center;
}

.wave-top-3 {
  background-image: url("~/assets/wave (1).svg");
  background-size: cover;
  background-position-x: right;
}
.wave-top-4 {
  background-image: url("~/assets/wave (4).svg");
  background-size: cover;
  background-position-x: right;
}
.wave-top-5 {
  background-image: url("~/assets/wave (1).svg");
  background-size: cover;
  background-position-x: right;
}
