@import "variables";
@import "src/theme";

@mixin make-fancy-header-image($url, $pos-y: 88%, $min-height: 100vh) {
  .fancy-header {
    background-image: url("src/assets/overlay.PNG"), url($url);
    background-size: cover;
    background-position-y: $pos-y;
    min-height: $min-height;
  }
}

@mixin make-title-header() {

}

@mixin make-circled-icon {
  font-size: 2em !important;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  min-width: 54px;
  max-width: 54px;
  height: 54px;
  text-align: center;
  user-select: none;
}

.hl {
  margin: 40px 0;
  border-bottom: 1px solid $dark-dividers;
}

@mixin make-small-paragraph($title-color, $text-color) {
  margin: 0 10px;
  max-width: 400px;

  h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    text-align: left;
  }

  p {
    color: $text-color;
    text-align: justify;

    @media (min-width: $breakpoint-single-column-small) {
      text-align: left;
    }
  }
}

@mixin make-large-paragraph($title-color, $text-color) {
  margin: 0 10px;
  max-width: 550px;

  h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    text-align: center;
  }

  h5 {
    display: block;
  }

  h6 {
    display: none;
  }

  p {
    text-align: justify;
    color: $text-color;
  }
}

@mixin make-card-background($use-wave: true) {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: 0px 27px 55px -15px rgba(0,0,0,0.37);

  @if $use-wave {
    background-image: $url-wave;
    background-size: cover;
    background-position: center;
  }
}

@mixin make-card-container() {

}

.line-v {
  margin: 0 $spacing-element;
  border-right: 1px solid $color-border-light;
}

.line-h {
  margin: $spacing-element 0;
  border-bottom: 1px solid $color-border-light;
}

.card-container {
  padding: $padding-card;
  border-radius: $border-radius;
  background: $color-background-light;
  @include mat-elevation(16);
}

.card-container.bg-wave {
  background-image: $url-wave;
  background-size: cover;
  background-position: center;
}

.mat-button-base.large {
  font-size: 1em !important;
  padding: 6px 32px !important;
  margin: 0 !important;
}

.button-group {

  button {
    width: 100%;
    background: unset;
    border: 0;
    border-bottom: 1px solid $color-border-light;
    padding: 20px 0;
    transition: $transition-duration;
  }

  button:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-width: 0;
  }

  button:hover {
    background: $color-border-light;
  }

  button:focus {
    outline: 0;
  }

  button.active {
    background: $color-primary !important;
    color: white;
  }
}

.card-background {
  @include make-card-background;
}


@media (min-width: $breakpoint-single-column-small) {
  .small-paragraph {
    p {
      text-align: left;
    }
  }

  .small-paragraph-light {
    p {
      text-align: left;
    }
  }

  .big-paragraph, .big-paragraph-light {
    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }

    h5 {
      display: none;
    }

    h6 {
      display: block;
    }

    p {
      text-align: left;
      font-size: 120%;
    }
  }

  .icon-small-paragraph {
    span {
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-multi-column-small) {
  .big-paragraph, .big-paragraph-light {

    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }

    p {
      text-align: left;
    }
  }
}

@mixin make-paragraph($class-name, $title-color, $text-color, $max-width, ) {
  .#{$class-name} {
    margin: 0 10px;
    max-width: $max-width;

    h1, h2, h3, h4, h5, h6 {
      color: $title-color;
      text-align: center;
    }

    p {
      text-align: justify;
      color: $text-color;
    }
  }
}

.small-paragraph {
  margin: 0 10px;
  max-width: 400px;

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  p {
    color: $dark-lighter-text;
    text-align: justify;
  }
}

.small-paragraph-light {
  margin: 0 10px;
  max-width: 400px;

  h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: left;
  }

  p {
    //color: $dark-lighter-text;
    text-align: justify;
    color: #c3c3c3;
  }
}


.big-paragraph {

  margin: 0 20px;
  max-width: 550px;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  h5 {
    display: block;
  }

  h6 {
    display: none;
  }

  p {
    text-align: justify;
    color: $dark-lighter-text;
  }
}

.big-paragraph-light {

  margin: 0 20px;
  max-width: 550px;

  h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: center;
  }

  h5 {
    display: block;
  }

  h6 {
    display: none;
  }

  p {
    text-align: justify;
    color: #c3c3c3;
  }
}

.icon-small-paragraph {
  margin: 0 10px;
  display: inline-flex;
  align-items: center;

  i {
    @include make-circled-icon;
  }

  span {
    color: $dark-lighter-text;
    max-width: 300px;
    font-size: 85%;
    display: inline-block;
    font-weight: 500;
    text-align: justify;
  }

  span:first-child {
    margin-right: 20px;
  }

  span:last-child {
    margin-left: 20px;
  }
}

.icon-big-paragraph {
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  color: $dark-lighter-text;
  max-width: 300px;

  i {
    display: block !important;
    font-size: 4em !important;
    user-select: none;
    //color: var(--primary-color);
  }

  span {
    display: block;
    margin-top: 20px;
    font-size: 110%;
  }
}


@media (min-width: $breakpoint-single-column-small) {
  .small-paragraph {
    p {
      text-align: left;
    }
  }

  .small-paragraph-light {
    p {
      text-align: left;
    }
  }

  .big-paragraph, .big-paragraph-light {
    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }

    h5 {
      display: none;
    }

    h6 {
      display: block;
    }

    p {
      text-align: left;
      font-size: 120%;
    }
  }

  .icon-small-paragraph {
    span {
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-multi-column-small) {
  .big-paragraph, .big-paragraph-light {

    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }

    p {
      text-align: left;
    }
  }
}

/**
  Usable with Material Icons and Font Awesome Icons
 */
.circled-icon {
  @include make-circled-icon;
  //font-size: 2em !important;
  //display: inline-block;
  //border-radius: 100%;
  //border: 1px solid var(--primary-color);
  //color: var(--primary-color);
  //padding: 10px;
  //min-width: 54px;
  //max-width: 54px;
  //height: 54px;
  //text-align: center;
  //user-select: none;
}

.circled-icon-hover {
  transition: .2s;
  cursor: pointer;
}

.circled-icon-hover:hover {
  background-color: var(--primary-color);
  color: white;
}
