
@mixin page-container($flex-direction) {
  display: flex;
  flex-flow: $flex-direction wrap;
  min-height: calc(100vh - #{$toolbar-height});
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

/**
  To be used with rows.
 */
.page-container-v {
  @include page-container(column);
}

.content-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

/**
  To be used with columns.
 */
.page-container-h {
  @include page-container(row);
}

.content-column {
  max-width: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - #{$toolbar-height});
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .content-column {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .content-column {
    max-width: 550px;
  }
}
