
$url-wave: url("src/assets/wave.svg");

$transition-duration: .2s;

$color-primary: var(--primary-color);
$color-background-light: white;
$color-background-dark: #333;
$color-border-light: #d8d8d8;
$color-title-light: rgba(0, 0, 0, 0.87);
$color-title-dark: white;
$color-paragraph-light: #c3c3c3;
$color-paragraph-dark: #676767;

$spacing-element: 2rem;
$padding-card: 40px;
$border-radius: 10px;

$big-app-logo-height: 192px;
$image-header-height: 100vh;
$toolbar-height: 64px;

$breakpoint-single-column-small: 500px;
$breakpoint-single-column-big: 768px;
$breakpoint-multi-column-small: 1000px;
$breakpoint-multi-column-big: 1200px;
$breakpoint-toolbar-collapsed: 860px;

//$breakpoint-medium: 768px;

$dark-lighter-text: #676767;

//$min-page-height: calc(100vh - #{$toolbar-height});
$min-page-height: 100vh;
