<div class="container">
  <div class="row mt-3">
    <h5 class="col-12">Kundennummer: 13549846</h5>
  </div>

  <form *ngIf="user && updateForm" [formGroup]="updateForm" (submit)="onSubmit()">
    <app-contact-form [contact]="user"></app-contact-form>
    <app-address-form [required]="false" [shippingAddress]="user.shippingAddress" [useDualAddress]="user.useDualAddress" [billingAddress]="user.billingAddress"></app-address-form>
    <div class="row mt-2">
      <div class="col-12">
        <button mat-raised-button color="primary" class="large float-right">Änderungen speichern</button>
      </div>
    </div>
  </form>

</div>
