<div>
  <h2 class="text-center">Meine Bestellungen</h2>
  <ng-container *ngIf="orders">
    <div class="order-container" *ngFor="let order of orders">
      <div class="d-flex flex-row">
        <h5>Bestellnummer: {{order.id}}</h5>
<!--        <h5>Bestellt am {{ order.orderDate | date:'mediumDate'}}</h5>-->
        <div class="flex-grow-1"></div>
        <h5>{{ order.state }}</h5>
      </div>
      <div class="d-flex mt-3">
        <div>
          <h6>Bestellt am {{ order.orderDate | date:'mediumDate'}}</h6>
          <h6>Lieferadresse</h6>
          <p>{{order.shippingAddress.street}}<br/>{{order.shippingAddress.postalCode}} {{order.shippingAddress.city}}<br/>{{order.shippingAddress.country}}</p>
        </div>
        <div class="flex-grow-1"></div>
        <div>
          <h6>Gesamtsumme</h6>
          <p class="text-right">{{calculateSum(order) | currency:'EUR' }}</p>
          <h6>Versandkosten</h6>
          <p class="text-right">{{ 4.99 | currency:'EUR' }}</p>
        </div>
      </div>
      <table mat-table [dataSource]="order.entries" class="table-container">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><img [src]="productService.findProductVariant(element.productVariantId).images[0]" class="product-image"></td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Produkt</th>
          <td mat-cell *matCellDef="let element"><h6>{{productService.findProductVariant(element.productVariantId).cartTitle}}</h6></td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Anzahl</th>
          <td mat-cell *matCellDef="let element"><p>{{element.amount}}</p></td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Preis</th>
          <td mat-cell *matCellDef="let element"><p>{{element.price |currency:'EUR'}}</p></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['image', 'title', 'quantity', 'price']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['image', 'title', 'quantity', 'price']"></tr>
      </table>
      <div class="d-flex">
        <div class="flex-grow-1"></div>
        <button *ngIf="order.state !== 'Stornierung ausstehend'" mat-raised-button color="warn" (click)="cancelOrder(order)">Stornierung anfordern</button>
      </div>
    </div>
  </ng-container>
</div>
