<div class="container" *ngIf="product">
  <div class="row">
    <div class="col-4 d-flex">
      <img class="product-image" [src]="product.thumbnailUrl">
    </div>
    <div class="col-8">
      <h1 class="product-title">{{ product.title }}</h1>
      <p class="product-description">
        {{ product.shortDescription }}
      </p>
      <p class="product-price">{{ product.price | currency:'EUR' }}
<!--        <span class="product-price-original">{{ 15.99 | currency:'EUR' }}</span>-->
      </p>
      <button mat-raised-button color="accent" (click)="addToCart()"
              [disabled]="isInCart()">{{ isInCart() ? 'Im Warenkorb' : 'Zum Warenkorb hinzufügen' }}</button>
    </div>
  </div>
  <div class="row additional-info-row">
    <div class="col-4">
      <!-- placeholder for gallery -->
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row">
          <div class="col-12">
          </div>
        </div>
      </div>
      <p *ngFor="let line of product.longDescription | lines">
        {{ line }}
      </p>
<!--      {{ product.longDescription }}-->
    </div>
  </div>
</div>
