.product-image {
  width: auto;
  height: 300px;
  object-fit: contain;
  margin: 30px auto;
  //background-color: white;
}

.product-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.product-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-description {
  margin-bottom: 30px;
  text-align: justify;
}

.product-price {
  color: #888888;
  font-size: 150%;
  margin-bottom: 30px;
  margin-left: 15px;
}

.product-price-original {
  text-decoration: line-through;
  font-size: 60%;
  margin-left: 20px;
}

.additional-info-row {
  margin-top: 20px;
  text-align: justify;
}
