<div class="container small-container">
  <div class="row">
    <div class="col-12">
      <h1 class="app-content-title">Konto löschen</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <p class="app-content-text">
        Wenn Sie Ihr Konto löschen, gehen dabei alle Ihre Daten in Verbindung mit Ihrem Konto verloren und können nicht
        wiederhergestellt werden.
      </p>
      <p class="app-content-text">
        Sind Sie sicher, dass Sie Ihr Konto löschen wollen?
      </p>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <form [formGroup]="passwordForm">

        <mat-form-field>
          <mat-label>Passwort bestätigen</mat-label>
          <input #passwordInput matInput type="password" disabled>
<!--          <mat-icon matSuffix class="icon-toggle" (click)="passToggle.toggle()">{{passToggle.getIcon()}}</mat-icon>-->
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button mat-raised-button color="warn" class="float-right large">Konto löschen</button>
    </div>
  </div>
</div>
