<div class="big-container">
  <div class="fancy-header">
    <h1 appScrollIn="slideTop">Kontoverwaltung</h1>
  </div>
  <div class="content">
    <div appScrollIn="grow" class="button-group content-1">
      <ng-container *ngFor="let route of routes" [ngTemplateOutlet]="buttonTemplate" [ngTemplateOutletContext]="route"></ng-container>
      <button (click)="logout()">Abmelden</button>

      <ng-template #buttonTemplate let-link="link" let-label="label">
        <button [routerLink]="link" routerLinkActive="" #rla="routerLinkActive" [class.active]="rla.isActive" [routerLinkActiveOptions]="{exact: true}">{{label}}</button>
      </ng-template>
    </div>
    <div appScrollIn="grow" class="content-container content-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
