
<div class="page-container-flex-row fancy-header">
  <div class="content-row">
    <div class="login-container card-container bg-wave" appScrollIn="grow">
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <h4 class="mb-4">Melde Dich in Deinem Konto an</h4>
        <mat-form-field hideRequiredMarker>
          <mat-label>Email-Adresse</mat-label>
          <input matInput formControlName="username" autocomplete="username">
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="current-password">
        </mat-form-field>
<!--        <mat-error class="mb-4" *ngIf="showError">Username oder Passwort ist falsch!</mat-error>-->
        <button mat-flat-button class="large mb-4" color="primary">Anmelden</button>
        <button mat-button type="button">Passwort vergessen?</button>
      </form>
      <div class="line-h"></div>
      <div class="buttons">
        <h4 class="mb-4">Noch kein Konto?</h4>
        <button mat-flat-button color="primary" class="mb-2 large" routerLink="/register">
          Kostenlos registrieren
        </button>
      </div>
    </div>
  </div>
</div>
