<!--<div class="big-container">-->

<div class="page-container-v wave-bottom-2">
  <div class="content-row">
    <div class="login-container" appScrollIn="grow">
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <h4>Melde Dich in Deinem Konto an</h4>
        <mat-form-field hideRequiredMarker>
                  <mat-label>Email-Adresse</mat-label>
          <input matInput formControlName="username"
                 autocomplete="username">
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
                  <mat-label>Passwort</mat-label>
          <input matInput type="password"
                 formControlName="password" autocomplete="current-password">
        </mat-form-field>
        <mat-error class="mb-4" *ngIf="showError">Username oder Passwort ist falsch!</mat-error>
<!--        <button mat-flat-button color="warn">Passwort vergessen?</button>-->
              <div class="d-flex flex-row mb-2">
                <button mat-button type="button" (click)="register()">Passwort vergessen?</button>
                <div class="flex-grow-1"></div>
        <button mat-flat-button color="primary">Anmelden</button>
              </div>
      </form>
      <div class="vl"></div>
      <div class="buttons">
        <h4 style="margin-bottom: 0;">Noch kein Konto?</h4>
        <i class="far fa-smile-beam fa-6x m-auto"></i>
        <button mat-flat-button color="primary" class="mb-2 mx-auto">Kostenlos registrieren</button>
<!--        <button class="reset-password-button" mat-raised-button color="warn">Passwort vergessen?</button>-->
      </div>
    </div>
  </div>
<!--  <div class="content-row">-->

<!--    <button mat-raised-button color="accent">Noch kein Konto? Jetzt registrieren</button>-->
<!--  </div>-->
</div>
<!--</div>-->
