<div class="page-container-v wave-bottom-2">
  <div class="content-row">
    <div class="login-container mat-elevation-z4" appSlideIn="top">
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <h4>Melden Sie sich in Ihrem Konto an</h4>
        <mat-form-field color="accent" hideRequiredMarker>
          <!--        <mat-label>Email-Adresse</mat-label>-->
          <input placeholder="Email-Adresse" class="input-field-background" matInput formControlName="username"
                 autocomplete="username">
        </mat-form-field>
        <mat-form-field color="accent" hideRequiredMarker>
          <!--        <mat-label>Passwort</mat-label>-->
          <input placeholder="Passwort" class="input-field-background" matInput type="password"
                 formControlName="password" autocomplete="current-password">
        </mat-form-field>
        <mat-error class="mb-4" *ngIf="showError">Username oder Passwort ist falsch!</mat-error>
        <!--      <div class="d-flex flex-row">-->
        <!--        <button mat-raised-button type="button" (click)="register()">Noch kein Konto? Registrieren</button>-->
        <!--        <div class="flex-grow-1"></div>-->
        <button mat-raised-button color="accent" class="float-right">Anmelden</button>
        <!--      </div>-->
      </form>
      <div class="vl"></div>
      <div class="buttons">
        <i class="far fa-grin-beam fa-6x m-auto"></i>
        <button mat-raised-button color="accent">Noch kein Konto? Jetzt registrieren</button>
        <button class="reset-password-button" mat-raised-button color="warn">Passwort vergessen?</button>
      </div>
    </div>
  </div>
<!--  <div class="content-row">-->

<!--    <button mat-raised-button color="accent">Noch kein Konto? Jetzt registrieren</button>-->
<!--  </div>-->
</div>
