
//.input-field-background {
//  background-color: white;
//  border-radius: 5px;
//}

//::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//  background-color: white;
//  border-radius: 5px;
//}

@import "src/theme";
@import "src/global-styles/components";

.fancy-header {
  background-image: linear-gradient(to top, #000c, #000c);
  background-position-y: center;
}

//.wave-bottom {
//   background-image: url("src/assets/wave.svg");
//   background-size: cover;
//   background-position: center;
// }

h4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;

  @include make-card-background;
  //padding: 30px;
  //box-shadow: 0px 9px 47px -22px rgba(0,0,0,0.43);
  //box-shadow: 0px 9px 50px -11px rgba(0,0,0,0.39);
  //box-shadow: 0px 27px 55px -15px rgba(0,0,0,0.37);
}

.separator {
  color: $dark-dividers;
}

.register-button {

  margin-top: 30px;
  //padding: 5px 30px;

  //color: white;
  //background-color: var(--primary-color);
  //border-radius: 5px;
  font-size: 1em;
  //font-weight: 500;
  padding: 5px 0;
  //text-align: center;
  //display: block;
  //border-width: 0;
}

.vl {
  margin: 0 40px;
  border-right: 1px solid $dark-dividers;
}

.hl {
  margin: 40px 0;
  border-bottom: 1px solid $dark-dividers;
}

.buttons {
  //margin-top: auto;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.reset-password-button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

//.fa {
//  margin: auto;
//}
