<div class="app-container">
  <mat-toolbar [ngStyle]="{top: positionY + 'px'}" color="primary" class="mat-elevation-z2">
    <mat-toolbar-row>
      <img class="app-logo" src="assets/SmarTIIS_logo.png" routerLink="/">
      <div class="flex-grow-1"></div>

      <a mat-button *ngIf="user" [matMenuTriggerFor]="userMenu">Hallo, {{user.firstName}}!</a>
      <mat-menu #userMenu="matMenu">
        <a mat-menu-item routerLink="/manage-account">Persönliche Daten bearbeiten</a>
        <a mat-menu-item routerLink="/change-password">Passwort ändern</a>
        <a mat-menu-item>Meine Bestellungen</a>
        <a mat-menu-item (click)="onLogout()">Abmelden</a>
      </mat-menu>
      <a mat-button *ngIf="!user" (click)="openLoginDialog()">Anmelden</a>

      <a mat-icon-button routerLink="/cart">
        <mat-icon [matBadge]="cartService.shoppingCart.products.length > 0 ? cartService.shoppingCart.products.length : undefined" matBadgeColor="warn">shopping_cart</mat-icon>
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="flex-grow-1"></div>
      <app-route-button routerLink="/overview-smarttub">SmartTub</app-route-button>
      <app-route-button routerLink="/overview-app">SmarTIIS App</app-route-button>
      <app-route-button routerLink="/products">Produkte</app-route-button>
      <app-route-button routerLink="/faq">FAQ</app-route-button>
      <app-route-button routerLink="/about-us">Über uns</app-route-button>
      <div class="flex-grow-1"></div>
    </mat-toolbar-row>

  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</div>
