<div class="app-container">
  <mat-toolbar >
    <mat-toolbar-row>
      <img class="app-logo" src="assets/SmarTIIS_logo.png">
      <div class="flex-grow-1"></div>

      <a mat-button *ngIf="user" [matMenuTriggerFor]="userMenu">Hallo, {{user.firstName}}!</a>
      <mat-menu #userMenu="matMenu">
        <a mat-menu-item routerLink="/manage-account">Persönliche Daten bearbeiten</a>
        <a mat-menu-item>Passwort ändern</a>
        <a mat-menu-item>Meine Bestellungen</a>
        <a mat-menu-item (click)="onLogout()">Abmelden</a>
      </mat-menu>
      <a mat-button *ngIf="!user" (click)="openLoginDialog()">Anmelden</a>

      <a mat-button routerLink="/cart">Warenkorb</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a mat-button routerLink="/overview-smarttub">SmartTub</a>
      <a mat-button routerLink="/overview-app">SmarTIIS App</a>
      <a mat-button routerLink="/products">Produkte</a>
      <a mat-button routerLink="/faq">FAQ</a>
      <a mat-button routerLink="/about-us">Über uns</a>
    </mat-toolbar-row>

  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</div>
