
@import 'src/theme.scss';

$app-logo-height: 192px;

.app-container {

}

.mat-toolbar {
  //position: fixed;
  //z-index: 10;
  //transition: box-shadow .2s;
}

.test-shadow {
  //box-shadow: 0px -19px 20px 13px rgba(0,0,0,0.46);
  box-shadow: 0px 9px 47px -22px rgba(0,0,0,0.43);
  background-color: white !important;
}

.shadow-sm {
  background-color: white !important;
}

.fancy-background-image {
  //width: 100%;
  //background-color: white;
  //background-image:  linear-gradient(to top, white, #0000),
  background-image:  linear-gradient(to top, #fffc, #fffc), url("../assets/image_38906.jpg");
  background-size: cover;
  background-position-y: 88%;
  //background-blend-mode: screen;
}

.fancy-toolbar-row {
  position: relative;
  height: 384px;
}

.fixed-toolbar-row {
  //position: fixed;
  //z-index: 100;
  //background-color: white;
  //transition: .2s;
}

.sticky-toolbar {
  //position: fixed;
  position: sticky;
  transition: .2s;
  margin-top: -64px;
  top: 0;
  z-index: 100;
  background-color: #00000000;
}

.fancy-toolbar-text {
  position: relative;
  top: 50px;
}

.app-content {
  //margin-top: 64px;
  padding-top: 64px;
  //margin-top: 458px;
}

.sticky-sentinel {
  position: absolute;
  //background-color: yellow;
  height: 40px;
  left: 0;
  right: 0;
  z-index: 100;
  top: calc(384px - 41px);
}

.app-logo {
  height: $app-logo-height;
  position: absolute;
  left: 100px;
  top: 50px;
  filter: drop-shadow(0px 0px 10px #fff);
  //z-index: 200;
  //bottom: 0;
  //transition: all .25s;
  //transition-property: top, left, height;
  //filter: drop-shadow(2px 4px 6px black);
}

.app-logo-static {

}

.log {
  height: 64px;
  position: absolute;
}

@media (max-width: 768px) {
  .log {
    //width: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.app-logo-fixed {
  top: $app-logo-height;
  //visibility: hidden;
  //position: fixed;
  left: 20px;
  height: 64px;
  //top: 0;
  //height: 64px;
}

.app-footer {
  //background-color: #e0e0e0;
  //background-color: #a7a7a7;
  background-color: rgba(0,0,0,0.07);
  height: 190px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  //align
}

.fab {
  margin-right: 15px;
}

a:hover {
  text-decoration: none;
}
