
@import 'src/theme.scss';

.mat-toolbar {
  position: fixed;
  z-index: 10;
}

.app-content {
  padding-top: 138px;
}

.app-logo {
  height: 64px;
  position: fixed;
  left: 10px;
  top: 0;
}

.app-footer {
  background-color: $light-bg-darker-20;
}

a:hover {
  text-decoration: none;
}
