<div class="big-container">
  <div class="fancy-header main-container" appScrollIn="slideTop">
    <h2 class="content-1 text-white">Erstelle dein SmarTIIS Konto</h2>
  </div>

  <div class="card-container bg-wave" appScrollIn="grow">

    <form [formGroup]="registerForm" (submit)="registerUser()">

      <app-contact-form [showPhoneNumber]="false"></app-contact-form>
      <app-new-password-form></app-new-password-form>

      <div class="row">
        <div class="col-12">
          <mat-checkbox formControlName="confirmTos" color="primary">Ich habe die <a routerLink="./" (click)="openTosDialog()">Allgemeinen
            Geschäftsbedingungen</a> gelesen und bin einverstanden.
          </mat-checkbox>
          <mat-error class="custom-error" *ngIf="confirmTos.hasError('required') && confirmTos.dirty">Sie müssen den
            Bedingungen zustimmen
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-checkbox formControlName="newsletter" color="primary">Newsletter abonnieren</mat-checkbox>
        </div>
      </div>
<!--      <div class="row">-->
<!--        <div class="col-12 d-flex flex-row">-->
<!--          <div class="flex-grow-1"></div>-->
<!--          <mat-error *ngIf="submitError" class="custom-error">{{submitError}}</mat-error>-->
<!--        </div>-->
<!--      </div>-->
      <div class="row">
        <div class="col-12">
          <button mat-flat-button class="float-right large" color="primary">Konto erstellen</button>
        </div>
      </div>
    </form>
  </div>


</div>
