@import "src/global-styles/components";
@import "src/theme";

.form-container {
  //background-color: white;
  //margin: auto;
  //width: 100%;
}

.form-container .container {
  width: 60%;
  margin: auto;
  display: block;
}

mat-form-field {
  width: 100%;
  letter-spacing: 0;
}

.custom-error {
  font-size: 85%;
  margin-left: 40px;
  margin-bottom: 15px;
}

.big-container {
  background-color: #333;
  padding-bottom: 200px;
}



.fancy-header {
  background-image: unset;
  //background-color: #333;
  //margin-top: 100px;
  //margin-bottom: 100px;
  padding-top: 164px;
  text-align: center;
  min-height: initial !important;

  h1 {
    //margin-top: 100px;
    margin-bottom: 200px;
    color: white;
  }
}

.content {
  //@include make-card-background();
  //padding: 40px;
  //height: 100vh;
  max-width: 1200px;
  margin: auto;
  //max-width: 80%;
  //margin: auto;
  //margin-bottom: 200px;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content-1 content-2";
}

.content-container {
  @include make-card-background();
  margin: 0 40px;
  padding: 40px;
  //overflow-y: hidden;
}

.button-group {
  @include make-card-background(false);
  margin: 0 40px;
  align-self: start;
  max-width: 300px;
}

.row {
  margin: 0;
}
