
@import "src/global-styles/layout";

.screen-container {
  @include page-container-grid(1, 2, 1fr, $use-spacing: true);

  grid-template-areas: row(2) row(3);
}

.screen-info-container {
  @include page-container-grid(1, 3, 1fr, $use-spacing: true);

  grid-template-areas: row(1) row(2) row(3);
}

.screen-image {
  width: 100vw;
  max-width: 200px;
  margin-top: 50px;
  filter: drop-shadow(2px 4px 6px black);
  display: none;
}

//.screen-wrapper {
//  background-size: cover;
//  background-position: center;
//  background-image: url("src/assets/blob-shape.svg");
//}

@media (min-width: $breakpoint-single-column-small) {
  .screen-image {
    max-width: 270px;
  }
}

@media (min-width: $breakpoint-multi-column-small) {
  .screen-container {
    @include page-container-grid(2, 2);

    grid-template-areas: row(1, 2) row(1, 3);

    align-content: center;
  }

  .screen-info-container {
    @include page-container-grid(2, 2, $use-spacing: true);

    grid-template-areas: row(1, 3) row(2, 3);
    align-content: center;
  }

  .screen-image {
    max-width: 200px;
    margin-top: 0;
    display: block;
  }
}

@media (min-width: $breakpoint-multi-column-big) {
  .screen-image {
    max-width: 270px;
  }
}

.badge-container {
  //display: flex;
  //justify-content: center;
  //align-content: center;
  //align-items: center;
  //margin-top: 10px;
  //margin-bottom: 70px;
  //justify-self: left;
  align-self: start;
}

.content-2 {
  align-self: end;
}

.apple-app-store {
  user-select: none;
  height: 50px;
  width: auto;
}

.google-play-store {
  user-select: none;
  width: auto;
  height: 50px;
  margin-left: 50px;
}

.navigator {
  position: absolute;
  bottom: 0;
  //padding: 20px;
  //opacity: 0;
  transition: .2s;
  text-align: center;
  left: 0;
  right: 0;
  //background-color: rgba(0,0,0,0.5);

  mat-icon {
    width: 88px;
    height: 88px;
    line-height: unset;
    font-size: 58px;
    //background-color: rgba(255,0,0,0.5);
    //font-size: 200%;
    transform: none;
    transition: .2s;
    //padding: 20px;
    user-select: none;
    cursor:pointer;
  }

  mat-icon:hover {
    transform: translateY(10px);
  }
}

.navigator:hover {
  opacity: 1;
}
