<div class="big-container">
  <div class="page-container wave-bottom-3">
    <div class="content-row">
      <img class="hq-image mat-elevation-z16" src="assets/Headquarter.jpg">
      <div class="text-block">
        <p></p>
      </div>
    </div>
  </div>
  <div class="page-container wave-top-3">
    <div class="content-row">
      <h1>Unser Team</h1>
    </div>
    <div class="content-row" [@crossfade]="fadeState" (@crossfade.done)="animationDone()">
      <img class="person-image mat-elevation-z16" [src]="person.img">
      <div class="text-block">
        <h6>{{person.position}}</h6>
        <h3>{{person.name}}</h3>
        <p>{{person.description}}</p>
      </div>
    </div>
    <div class="content-row">
      <div *ngFor="let person of allPeople; let i = index"
           class="thumbnail-container"
           [class.thumbnail-container-active]="isThumbnailActive(i)"
           (click)="setNextPerson(i)">
        <img class="thumbnail-image mat-elevation-z4" [src]="person.img">
        <span>{{person.name}}</span>
      </div>
    </div>
  </div>
</div>
