
.hq-image {
  width: auto;
  height: 400px;
}

.hq-text-block {
  max-width: 600px;

  p {
    font-size: unset;
  }
}

.big-text-block {
  max-width: 550px;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.big-text-block:first-child {
  //margin-top: -150px;
}

.person-image {
  position: relative;
  width: 450px;
  height: 300px;
  //width: 100%;
  object-fit: cover;
}

.navigation-buttons {
  display: block;
}

//.text-block {
//  max-width: 300px;
//}

@media (min-width: 768px) {

  .navigation-buttons {
    display: contents;
  }
  .circled-icon:first-of-type {
    position: absolute;
    left: 5%;
  }

  .circled-icon:last-of-type {
    position: absolute;
    right: 5%;
  }
}

@media (min-width: 1000px) {
  .person-image {
    width: 300px;
    height: 200px;
  }
}

@media (min-width: 1400px) {
  .person-image {
    width: 450px;
    height: 300px;
  }

  .text-block {
  }



}

.thumbnail-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  margin-top: -36px;
}

.thumbnail-container {
  display: inline-flex;
  flex-direction: column;
  opacity: 0.5;
  transition: opacity .2s;
  cursor: pointer;

  span {
    margin-top: 5px;
    font-weight: 500;
    text-align: center;
  }
}

.thumbnail-container:hover {
  opacity: 1;
}

.thumbnail-container-active {
  opacity: 1;
}

//.circled-icon:first-of-type {
//  position: absolute;
//  left: 5%;
//}
//
//.circled-icon:last-of-type {
//  position: absolute;
//  right: 5%;
//}
