<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="app-content-title">Wer sind wir?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img class="app-content-image mat-elevation-z4" src="assets/Entrepreneur and CEO Philipp.jpg">
    </div>
    <div class="col-8">
      <h3>Philipp Dingelmann</h3>
      <span class="app-content-text">
        Philipp ist der erste Gründer und CEO der SmarTIIS. Er zeichnet sich vor
        allem durch seine Kreativität und seinen entrepreneurial Spirit aus. Er
        hat BWL im Bachelor an der Uni Essen und dann im Master in Berlin
        studiert. Nach seinem Studium arbeitete er 2 Jahre in der
        Beratungsgesellschaft KPMG als IT-Berater in Berlin und besuchte
        währenddessen mehrere Messen und Events für Start-Up Gründer. Als
        CEO der SmarTIIS agiert er weiterhin besonders viel auf Messen und
        präsentiert das Unternehmen nach außen. Aktuell liegt der Fokus auf sämtlichen Events, die sich mit
        der Einrichtung und Ausstattung von Badezimmern beschäftigen. Hier sollen möglichst viele Kontakte
        und ggfs. auch Partnerschaften mit führenden Badewannenherstellen und Badausstattern geknüpft
        werden. Auch ist er für die Kundengewinnung und -erhaltung zuständig und arbeitet dabei eng mit der
        Marketing Managerin Eliza zusammen.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h3>Tom Lorenz</h3>
      <span class="app-content-text">
        Für das Technische ist Tom als Ingenieur zuständig. Noch während seines
        Masterstudiums in Berlin lernte er Philipp auf einer Messe für Gründer
        kennen und entwickelte mit ihm zusammen erste Ideen und Prototypen.
        Toms Stärke liegt darin, dass er nicht in Grenzen denkt und bereit ist,
        sich jeder Herausforderung zu stellen. Durch sein Engagement während
        seines Studiums an der technischen Universität Berlin hat der Techniker
        gute Kontakte in der Branche knüpfen können, sodass es bei möglichen Fragen an Know-How nicht
        mangeln sollte. Seine Rolle im Unternehmen ist die Konstruktion von Produkten, die die Visionen der
        SmarTIIS perfekt verkörpern und umsetzen. Damit ist er der führende Kopf hinter der Umsetzung der
        SmartTub und musste dabei oft den Buh-Mann bei Prototyp-Entwürfen spielen, in dem er dem Rest
        seines Teams erklärte, dass dies technisch unmöglich umzusetzen sei.
        In der aktuellen Zusammensetzung des Unternehmens ist Tom jedoch nicht alleine für die technische
        Umsetzung zuständig – ihm stehen tatsächlich ein Großteil der Angestellten zur Seite, sodass er ein
        Team von 30 Personen leitet. Dies ist vor allem dem geschuldet, dass viele unterschiedliche Expertisen
        zur Entwicklung der SmartTub erforderlich sind. Dies reicht zum einen von der zu entwickelnden
        3 Elektrotechnik, hin zur konkreten Materialauswahl, Lichttechnik, der „richtigen“ Anschlusstechnik an
        die Wasser Zu- und Abfuhr und weiteren Aspekten.
      </span>
    </div>
    <div class="col-4">
      <img class="app-content-image mat-elevation-z4" src="assets/Computer Engineer Tom.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img class="app-content-image mat-elevation-z4" src="assets/Software Engineer Michael.jpg">
    </div>
    <div class="col-8">
      <h3>Michael Mertens</h3>
      <span class="app-content-text">
        In Zeiten der Digitalisierung darf ein Softwareentwickler in einem
        innovativen Start-Up nicht fehlen. Informatiker Michael ist durch sein
        logisches Denken und seiner IT-Affinität bereits bei mehreren
        Wettbewerben positiv aufgefallen, sodass Philipp und Tom auf ihn
        aufmerksam geworden sind. Die Vorstellung, in einem eigenen
        Unternehmen verantwortlich für die Entwicklung einer Software zu sein,
        hat ihn sofort überzeugt, sich den beiden anzuschließen. Seine Aufgabe
        ist daher, zum einen die Software bereitzustellen, welche direkt auf den Produkten der SmarTIIS läuft.
        Zum anderen sollen die Smart-Home Produkte auch ohne direkten Kontakt und aus der Ferne
        steuerbar sein, sodass eine dazugehörige App bzw. mögliche Anbindungen an bestehende Smart-
        Home-Apps von Apple und Google nicht fehlen dürfen. Insgesamt umfasst sein zu leitendes Team aus
        10 Entwicklern, von denen sich 5 mit mobiler App-Entwicklung auseinandersetzen und die restlichen
        5 für die native Softwareentwicklung auf den Produkten zuständig sind.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h3>Eliza Braun</h3>
      <span class="app-content-text">
        Ohne die richtige Vermarktung ist die beste Idee nutzlos – hier setzt Eliza
        als Verantwortliche für das Design an. Eliza und Philipp sind gute
        Freunde seit dem ersten Semester, sodass es für sie selbstverständlich
        ist, ihre Fähigkeiten mit den anderen zu teilen. Sie arbeitet eng mit den
        anderen Gründern zusammen, um möglichst viele Informationen und
        Details über die Produkte zu bekommen. Bei der Produktentwicklung
        und der Erstellung von Prototypen arbeiten meistens alle 4 Gründer
        zusammen, wobei Eliza vor allem beim Design die führende Hand ist. Hier achtet Sie pingelig auf die
        Interaktion zwischen Nutzern und dem entworfenen Produkt und legt dabei ein besonderes
        Augenmerk auf die Nutzer Journeys und Szenarien zwischen Nutzer und Produkt. Auch die im Weiteren
        beschriebenen Funktionen des aktuell einzigen Produktes SmartTub stammen von Eliza. Um jedoch
        eine externe, zusätzliche Sicht zu gewinnen, wünscht sich Eliza, dass Sie eigene Szenarien und Nutzer
        Journeys erstellen.
      </span>
    </div>
    <div class="col-4">
      <img class="app-content-image mat-elevation-z4" src="assets/Marketing Manager Eliza.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8"></div>
  </div>
</div>
