@import "src/global-styles/layout";
@import "src/global-styles/components";

.big-container {
  background-color: #333;
  padding-bottom: 200px;
  min-height: 100vh;
}

.fancy-header {
  background-image: unset;
  padding-top: 164px;
  text-align: center;
  min-height: initial !important;

  h1 {
    margin-bottom: 150px;
    color: white;
  }
}

.all-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: row(1, 2) row(3, 4);
  column-gap: 50px;
  row-gap: 70px;
}

.custom-button {
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: -40px;
  margin-top: 40px;

  padding: 20px 0;
  background: var(--primary-color);
  color: white;
  border: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 500;
  font-size: 1.15em;
  transition: .2s;
}

.total-sum {
  font-weight: 500;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  //grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  //grid-template-areas: row(1, 3, 6) row(2, 4, 6) row(5, 5, 5);
  grid-template-areas: row(1, 6) row(5, 5);
  justify-content: center;
  align-content:  start;
  column-gap: 50px;
  row-gap: 50px;
  max-width: 1200px;
  margin: 100px auto 0;

  .content-6 {
    align-self: start;
  }
}

.product-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.product-image {
  margin: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.table-container {
  width: 100vh;
}

.right-offset {
  margin-left: 50px;
  margin-right: 150px;
}

.calc-container {
  display: grid;
  //margin-right: 80px;
  column-gap: 50px;
  row-gap: 20px;
  //margin-top: 40px;

  justify-content: end;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content max-content max-content;
  justify-items: end;
}

.button-right {
  margin-left: auto !important;
  margin-right: 0px !important;
  margin-top: 40px !important;
  float: right;
}

.test-container {
  justify-self: center;
  //display: flex;
  //flex-direction: column;
}
