/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-content-title {
  text-align: center;
  padding: 30px;
}

.app-content-image {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  //margin-left: 10px;
  //margin-right: 10px;
}

.app-content-text {
  display: block;
  text-align: justify;
}

//.cdk-global-scrollblock{
//  position: static !important;
//  width: initial !important;
//  overflow-y: inherit !important;
//}

.overview-text {
  width: 70%;
  margin: auto;
  display: block;
  text-align: center;
}

.mat-badge-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
  letter-spacing: 0 !important;
}

.icon-toggle {
  cursor: pointer;
  user-select: none;
}

.small-container {
  max-width: 60%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .small-container {
    max-width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .small-container {
    max-width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.mat-app-background {
  background: white;
}
