/* You can add global styles to this file, and also import other style files */

@import "global-styles/variables";
@import "global-styles/layout";
@import "global-styles/backgrounds";
@import "global-styles/utils";
@import "global-styles/components";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //overflow: scroll;
  //overflow-x: hidden !important;
}

//
//.mat-drawer-container {
//  display: contents !important;
//}

//::ng-deep .mat-drawer-container {
//  overflow: initial !important;
//  position: initial !important;
//}

.app-content-title {
  text-align: center;
  padding: 30px;
}

.app-content-image {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  //margin-left: 10px;
  //margin-right: 10px;
}

.app-content-text {
  display: block;
  text-align: justify;
}

.fancy-header {
  position: relative;
  min-height: $image-header-height;
  background-color: #333;
  background-size: cover;
  background-position-y: 88%;
}

//.cdk-global-scrollblock{
//  position: static !important;
//  width: initial !important;
//  overflow-y: inherit !important;
//}
.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}
.overview-text {
  width: 70%;
  margin: auto;
  display: block;
  text-align: center;
}

.mat-badge-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
  letter-spacing: 0 !important;
}

.icon-toggle {
  cursor: pointer;
  user-select: none;
}

.small-container {
  max-width: 60%;
}

.big-container {
  max-width: 100%;
  //padding: 0 !important;
  //padding-top: 64px !important;
}

.custom-shadow {
  box-shadow: 0px 27px 55px -15px rgba(0,0,0,0.37);

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .small-container {
    max-width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .small-container {
    max-width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  //.big-container {
  //  max-width: 1100px;
  //}
}

.mat-app-background {
  background: white;
  //overflow-x: hidden;
}

.mat-drawer-content {
  overflow: initial !important;
}

.title-row {
  //height: calc(100vh - 64px);
  //height: 100vh;
  //align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .app-content-text {
    max-width: 60%;
  }

  p {
    font-size: 120%;
  }
}

@import "theme";

.text-block {
  max-width: 550px;

  p {
    font-size: 120%;
    margin-bottom: 0 !important;
    color: #676767;
    //color: $dark-accent-text;
  }

  h1, h2, h3, h4, h5 {
    //color: var(--primary-darker-color);
  }

  h6 {
    //color: $dark-accent-text;
  }
}

.fa-1-5x {
  font-size: 1.5em !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 64px);
  align-items: center;
  //overflow-y: hidden;
}

.content-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}


//.page-container:first-child {
//  margin-top: 64px;
//}
