@import "src/theme";
@import "src/global-styles/layout";
@import "src/global-styles/utils";

.smarttub-container {
  @include page-container-grid(1, 3, 1fr, $use-spacing: true);

  grid-template-areas: row(1) row(2) row(3);

  //row-gap: 70px;
}

.features-container {
  //@include page-container-grid(3, 2);
  //
  ////grid-template-columns: repeat(3, max-content);
  ////grid-template-rows: repeat(2, max-content);
  //grid-template-areas:
  //  row(1, 1, 2)
  //  row(3, 4, 5);
  //"content-1 content-1 content-2"
  //"content-3 content-4 content-5";

  //align-content: space-evenly;
  @include page-container-grid(1, 5, 1fr, $use-spacing: true);

  grid-template-areas: row(1) row(2) row(3) row(4) row(5);
}


.functions-image {
  width: 100vw;
  height: auto;
  max-width: 750px;
}

.title-image {
   width: 100vw;
   max-width: 450px;
   height: auto;
   //box-shadow: 0px 27px 55px -15px rgba(0, 0, 0, 0.37);
   //filter: drop-shadow(2px 4px 6px black);
  margin: 0 -10px;
  @include mat-elevation(4);
 }

.text-block {
  text-align: justify;
}

@media (max-width: $breakpoint-single-column-big) {
  //.smarttub-container {
  //  @include page-container-grid(1, 3, $use-spacing: true);
  //
  //  grid-template-areas: row(1) row(2) row(3);
  //
  //  //row-gap: 70px;
  //}

  //.features-container {
  //  @include page-container-grid(1, 5, 1fr, $use-spacing: true);
  //
  //  grid-template-areas: row(1) row(2) row(3) row(4) row(5);
  //
  //  //row-gap: 70px;
  //}

  //.functions-image {
  //  width: 100%;
  //  height: auto;
  //}
}

@media (min-width: $breakpoint-multi-column-small) {
  .features-container {
    @include page-container-grid(2, 3, 1fr);

    grid-template-areas: row(1, 2) row(3, 4) row(5, 5);
  }
  //.functions-image {
  //  width: 100%;
  //  height: auto;
  //}
  .smarttub-container {
    @include page-container-grid(2, 2);

    //grid-template-columns: max-content max-content;
    //grid-template-rows: max-content max-content;
    grid-template-areas: row(1, 2) row(3, 2);
    //grid-template-areas: "content-1 content-2" "button content-2";

    align-content: center;
  }

  .text-block {
    text-align: left;
  }

  .title-image {
    @include app-shadow;
    max-width: 350px;
  }

  .functions-image {
    width: 100%;
  }
}

@media (min-width: $breakpoint-multi-column-big) {
  .features-container {
    @include page-container-grid(3, 2);

    //grid-template-columns: repeat(3, max-content);
    //grid-template-rows: repeat(2, max-content);
    grid-template-areas: row(1, 1, 2) row(3, 4, 5);
    //"content-1 content-1 content-2"
    //"content-3 content-4 content-5";

    //align-content: space-evenly;
  }

  .smarttub-container {
    @include page-container-grid(2, 2);

    //grid-template-columns: max-content max-content;
    //grid-template-rows: max-content max-content;
    grid-template-areas: row(1, 2) row(3, 2);
    //grid-template-areas: "content-1 content-2" "button content-2";

    align-content: center;
  }

  .title-image {
    max-width: 450px;
  }

  //.functions-image {
  //  height: 500px;
  //  width: auto;
  //}
}


.button-area {
  grid-area: button;
}




.text-column {
  max-width: 400px;
}

.order-button {
  float: right;
  font-size: x-large;
  padding: 0.5em 2.15em;
  //margin-top: 2em;
  //margin-right: 1em;
}

.mat-touch-app {
  margin-top: 8px !important;
}

.mat-touch-app:before {
  content: 'touch_app';
}

.mat-smartphone {
  margin-top: 11px;
}

.mat-smartphone:before {
  content: 'smartphone';
}
