@import "src/theme";

.title-image {
  width: 100%;
  max-width: 450px;
  height: auto;
  box-shadow: 0px 27px 55px -15px rgba(0,0,0,0.37);
  //filter: drop-shadow(2px 4px 6px black);
}

.functions-image {
  height: 500px;
  width: auto;
}

.text-column {
  max-width: 400px;
}

.order-button {
  float: right;
  font-size: x-large;
  padding: 0.5em 2.15em;
  //margin-top: 2em;
  //margin-right: 1em;
}

.mat-touch-app {
  margin-top: 8px !important;
}

.mat-touch-app:before {
  content: 'touch_app';
}

.mat-smartphone {
  margin-top: 11px;
}

.mat-smartphone:before {
  content: 'smartphone';
}
