@import "src/global-styles/layout";

.fancy-header {
  background-image: linear-gradient(to top, #000c, #000c);
  background-position-y: center;
  min-height: 50vh !important;
}


.header-grid {
  @include page-container-grid(1, 2);

  grid-template-areas: row(1) row(2);

  align-content: center;
}
