@import "src/global-styles/layout";

.fancy-header {
  background-image: linear-gradient(to top, #000c, #000c);
  background-position-y: center;
  min-height: 40vh !important;
}


.header-grid {
  @include page-container-grid(1, 2);

  grid-template-areas: row(1) row(2);

  align-content: center;
}

.main-content {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 100px 0;
}

.product-container {
  display: grid;
  height: 250px;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: row(1, 2, 2) row(1, 3, 3) row(1, 4, 5);
  column-gap: 70px;
  align-items: center;
  justify-items: center;
  margin: 40px 0;

  .content-1 {
    object-fit: contain;
    width: 300px;
    height: 150px;
  }

  .content-2 {
    justify-self: start;
    align-self: end;
  }

  .content-3 {
    justify-self: start;
    align-self: start;
  }
}
