<div class="big-container">
  <div class="fancy-header header-grid">
    <h2 class="content-1 text-white">Entdecke unser Sortiment</h2>
<!--    <h4 class="content-2 text-white">Lorem ipsum</h4>-->
  </div>
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <h1 class="app-content-title">Produkte</h1>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <app-product-view *ngFor="let product of $products | async" [product]="product"></app-product-view>-->
<!--    </div>-->
<!--  </div>-->
</div>
