<div class="big-container">
  <div class="fancy-header header-grid">
    <h2 class="content-1 text-white">Entdecke unser Sortiment</h2>
    <!--    <h4 class="content-2 text-white">Lorem ipsum</h4>-->
  </div>
  <div class="main-content">
    <div class="product-container">
      <img class="content-1" src="assets/WerbephotoSmartTub2.png">
      <h3 class="content-2">SmartTub</h3>
      <p class="content-3">Die intelligente Badewannenarmatur mit integrierter Badezusatzdosierung und vielen weiteren Features</p>
      <button mat-button class="content-4 large" routerLink="detail">Mehr erfahren</button>
      <button mat-raised-button color="primary" class="content-5 large"><mat-icon class="mr-3">shopping_cart</mat-icon> In den Warenkorb</button>
    </div>
    <div class="hl"></div>
    <div class="product-container">
      <img class="content-1" src="assets/cherry.png">
      <h3 class="content-2">SmarTscent</h3>
      <p class="content-3">Der Badezusatz passend zu deinem SmartTub in verschiedenen Sorten</p>
      <button mat-button class="content-4 large">Mehr erfahren</button>
      <button mat-raised-button color="primary" class="content-5 large"><mat-icon class="mr-3">shopping_cart</mat-icon> In den Warenkorb</button>
    </div>
    <div class="hl"></div>
    <div class="product-container">
      <img class="content-1" src="assets/SmarTIIS Hub_transparent.png">
      <h3 class="content-2">SmarTIIS Hub</h3>
      <p class="content-3">Die Intelligenz hinter deinem SmartHome</p>
      <button mat-button class="content-4 large">Mehr erfahren</button>
      <button mat-raised-button color="primary" class="content-5 large"><mat-icon class="mr-3">shopping_cart</mat-icon> In den Warenkorb</button>
    </div>
  </div>
  <!--  <div class="row">-->
  <!--    <div class="col-12">-->
  <!--      <h1 class="app-content-title">Produkte</h1>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-12">-->
  <!--      <app-product-view *ngFor="let product of $products | async" [product]="product"></app-product-view>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
