<div class="big-container">
  <div class="fancy-header header-grid">
    <h2 class="content-1 text-white" appScrollIn="slideTop">Entdecke unser Sortiment</h2>
  </div>
  <div class="main-content">
    <div class="product-container" *ngFor="let product of products$ | async" appScrollIn="slideTop">
      <img class="content-1" [src]="product.overviewImage">
      <h3 class="content-2">{{ product.title }}</h3>
      <p class="content-3">{{ product.overviewDescription }}</p>
      <button mat-button class="content-4 large" [routerLink]="product.idString">Mehr erfahren</button>
      <button *ngIf="product.variants.length === 1" mat-raised-button color="primary" class="content-5 large" (click)="addToCart(product)" [disabled]="isInCart(product)"><mat-icon class="mr-3">shopping_cart</mat-icon> {{ isInCart(product) ? 'Im Warenkorb' : 'In den Warenkorb' }}</button>
    </div>
  </div>
</div>
